html,body {
    background-color: black;
    height: 100%;
}

@font-face {
    font-family: yo;
    src: url(Colombia-Rp0DV.ttf);
}

* {
    font-family: yo;
    margin: 0;
    padding: 0;
}

#pro {
    color: grey;
    font-size: 225px;
}

#status {
    color: grey;
    font-size: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#lonk {
    background-color: black;
    border-color: grey;
    border-radius: 3px;
    width: 250px;
    height: 24px;
    color: grey;
    font-size: 22px;
}

#lonkGo {
    background-color: black;
    color: grey;
    border-color: grey;
    border-radius: 3px;
    height: 24px;
    width: 35px;
    cursor: pointer;
    text-align: center;
    transition: 0.40s;
} #lonkGo:hover {
    transition: 0.40s;
    background-color: blueviolet;
    color: black;
}

#main {
    position: absolute;
    top: 30.5%;
    left: 50%;
    transform: translate(-50%, -30.5%);
}